<div fxLayout="row" fxLayoutAlign="center start" fxFill>
  <div fxFlex="100">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
      <div fxFlex="none">
        <div fxLayout="row" fxLayoutAlign="center center" fxFill>
          <div fxFlex="none">
            <h1>
              World's worst TODO app!
            </h1>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <div fxFlex></div>
          <app-todo-new-item (add)="handleAdd($event)" fxFlex></app-todo-new-item>
          <app-todo-list [items]='listItems' (remove)='handleRemove($event)' fxFlex></app-todo-list>
          <!-- <div fxFlex> {{ listItems$ | json | asnyc }} </div> -->
          <div fxFlex></div>
        </div>
      </div>
    </div>
  </div>
</div>

